
<div class="row">
    <div class="col-sm-12 col-md-8">

        <div class="panel-group">
            <div class="panel panel-primary panel-primary-custom">
                <div class="panel-heading">{{nodeDisplayType}}</div>
                <div class="panel-body">
                    <div ng-show="nodeDataLoading" class="spinner-div">
                        <img src="images/mcloud_spinner.svg" class="spinner-icon">
                    </div>
                    <div ng-hide="nodeDataLoading">

                        <div ng-controller="StructureDetailsCtrl">

                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <p><a href="#"
                                          class="btn btn-primary btn-sm btn-as-label disabled">
                                        Formula
                                    </a> <span compile="strInfo.formula"></span>
                                    </p>

                                    <p><a href="#"
                                          class="btn btn-primary btn-sm btn-as-label disabled">
                                        Dimensionality
                                    </a> {{ strInfo.dimensionality }}
                                    </p>

                                    <p><a href="#"
                                          class="btn btn-primary btn-sm btn-as-label disabled">
                                        {{strInfo.label}}
                                    </a> {{strInfo.value}} <span compile="strInfo.unit"></span>
                                    </p>

                                    <p><a href="#"
                                          class="btn btn-primary btn-sm btn-as-label disabled">
                                        Cell
                                    </a> {{ strInfo.pbc }}
                                    </p>
                                </div>

                                <div class="col-sm-12 col-md-8">
                                    <div class="">
                                        <div ng-show="structureVisDataLoading" class="spinner-div">
                                            <img src="images/mcloud_spinner.svg" class="spinner-icon">
                                        </div>
                                        <div ng-hide="structureVisDataLoading">
                                            <div jsmol-viz
                                                 crystal-xsf = "crystalXsf"
                                                 structure-viewer="structureViewer"
                                                 jsmol-applet-name="jsmolAppletName"
                                                 supercell="supercell"
                                                 div-id="crystal2d"
                                                 parent-div-id="structure2d-content"
                                                 toggle-str-vis-interaction="toggleStrVisInteraction()"
                                                 download-options="downloadOptions"
                                                 selected-axes-idx="selectedAxesIdx">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="margin-top: 30px;">
                                <div class="col-sm-12 col-md-6">
                                    <div class="panel panel-default panel-custom">
                                        <div class="panel-info">
                                            <div class="panel-title" role="tab">
                                                <a class="" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#structureCell">
                                                    Cell
                                                </a>
                                            </div>
                                        </div>
                                        <div id="structureCell" class="panel-collapse collapse in" role="tabpanel">
                                            <div class="panel-body">

                                                <div class="node-window-container">
                                                    <table class="table attribute-table numbers-font-family">
                                                        <thead>
                                                        <tr>
                                                            <th ng-repeat="hname in ['Axis', 'x[&#8491;]', 'y[&#8491;]', 'z[&#8491;]']">{{hname}}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="scell in attributes.cell track by $index">
                                                            <th scope="row">v<sub>{{$index + 1}}</sub></th>
                                                            <td ng-repeat="value in scell track by $index">{{value.toFixed(4)}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="panel panel-default panel-custom">
                                        <div class="panel-info">
                                            <div class="panel-title" role="tab">
                                                <a class="" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#structureAtomicCoords">
                                                    Atomic coordinates
                                                </a>
                                            </div>
                                        </div>
                                        <div id="structureAtomicCoords" class="panel-collapse collapse in" role="tabpanel">
                                            <div class="panel-body">

                                                <div class="node-window-container">
                                                    <table class="table attribute-table numbers-font-family">
                                                        <thead>
                                                        <tr>
                                                            <th ng-repeat="hname in ['Kind label', 'x[&#8491;]', 'y[&#8491;]', 'z[&#8491;]']">{{hname}}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="site in attributes.sites">
                                                            <th scope="row">
                                                                <md-tooltip class="tooltip-multiline">
                                                        <span ng-repeat="kind in attributes.kinds" ng-if="kind.name == site.kind_name">
                                                            Mass: {{kind.mass}} a.m.u.
                                                            <br>
                                                            <span ng-if="kind.symbols.length == 1">Element: {{kind.symbols[0]}}</span>
                                                            <span ng-if="kind.symbols.length > 1">Elements:
                                                                <span ng-repeat="symbol in kind.symbols">
                                                                    {{symbol}}
                                                                    <span ng-if="$index == kind.symbols.length-1">,</span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                                </md-tooltip>
                                                                {{site.kind_name}}
                                                            </th>
                                                            <td ng-repeat="value in site.position track by $index">{{value.toFixed(4)}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-4">
        <div ng-include="'views/explore/nodedetails/provenance.html'"></div>
    </div>
</div>

<!--<link rel="stylesheet" href="styles/css/external/ChemDoodleWeb.css" />
<script src="scripts/external/ChemDoodleWeb.min.js"></script>-->
<script src="scripts/external/jsmol/JSmol.min.nojq.js"></script>
