<div class="info-page">
    <div class="page-header">
        <h2>How to prepare a new EXPLORE section for Materials Cloud</h2>
    </div>

    <div class="page-container">
        <ol>
            <li>Use <a href="http://www.aiida.net">AiiDA</a> to perform your calculations.</li>
            <li> Export your AiiDA graph using <i>verdi export</i>.</li>
            <li>Submit a record with the export file to the <a href="https://archive.materialscloud.org/">Materials Cloud ARCHIVE</a>.</li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd2pFiJ4QpJBkqQ3fZk-A5Jq2nymkm2bGkRpuM598btDuJXOQ/viewform" target="_blank">
                Fill the contribution form</a> to provide the required metadata for your EXPLORE section
            </li>
        </ol>
        <p>
            You will be contacted by the ARCHIVE administrators concerning the creation of your EXPLORE section.
    </div>
</div>
